{% extends "base.html" %}
{% load vid_metadata staticfiles %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "owl.carousel/dist/assets/owl.carousel.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "owl.carousel/dist/assets/owl.theme.default.min.css" %}" />
  <style>
  .owl-prev, .owl-next {
    font-size:1.8em;
    margin:10px;
  }
  .owl-prev {
    float:left;
    clear:both;
  }
  .owl-next {
    float:right;
  }
  </style>
{% endblock %}

{% block navigation %}
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
  <ul class="nav navbar-nav">
    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
    <li class="page-scroll">
      <a href="#about">Details</a>
    </li>
    <li class="page-scroll">
      <a href="#intro">Video</a>
    </li>
  </ul>
</div>
<!-- /.navbar-collapse -->
{% endblock %}

{% block content %}
  <!-- Intro Section -->
  <section id="intro">
    <div class="video-content">

      <div class="overlay">
        <div class="container-wrapper">
          <div class="container">
            <div class="col-md-12 wp1 delay-05s">
              <div class="intro-info-wrapper">
                <h1 class="text-center">{{ vid.name }}</h1>
              </div>
            </div>
          </div><!-- /.intro-info-wrapper -->
          <div class="media-btns buttons page-scroll">
            <div class="btn btn-default play-btn" id="play-button">Video starten<i class="fa fa-play animated"></i></div>
            <div class="btn btn-default pause-btn" id="pause-button">Video stoppen<i class="fa fa-pause animated"></i></div>
            <a class="btn btn-default about-btn" href="#about">Details<i class="fa fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="video-container">
        <video id="player" poster="{{ vid.thumb }}" width="100%">
          <source src="{{ vid.get_video.url }}" type="{{ vid.videometa.mime_type }}">
        </video>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        {% vid_thumbs vid %}
      </div>
    </div>

  </section><!-- /#intro -->

  <!-- About Section -->
  <section id="about">
    <div class="more page-scroll" id="more">
      <a href="#about"><i class="fa fa-angle-down"></i></a>
    </div>

    <div class="container wp2">

      <h1 class="section-title" style="margin-bottom:10px;">{{ vid.name }}</h1>

      <div class="col-lg-12">
        <div class="input-group input-group-lg">
          <input id="video_url" class="form-control" type="text" value="{{ vid.get_video.url }}">
          <span class="input-group-btn">
            <button id="copytoclipboard" class="btn btn-info" type="button" data-clipboard-target="#video_url" data-toggle="tooltip" title="Kopiert!">
              <i class="fa fa-clipboard" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </div>

      <hr/>

      <div class="row">

        <div class="col-sm-6">
          <div class="col-sm-6">
            <h4 class="sub-text">Categories</h4>
            {% for cat in vid.categories.all %}
            <small>{{ cat }}</small>,&nbsp;
            {% empty %}
              <small>No categories assigned</small>
            {% endfor %}
          </div>

          <div class="col-sm-6">
            <h4 class="sub-text">Tags</h4>
            {% for tag in vid.tags.all %}
              <small>{{ tag }}</small>,&nbsp;
            {% empty %}
              <small>No tags assigned</small>
            {% endfor %}
          </div>
        </div>

        <div class="col-sm-6">

          <h4 class="sub-text">
            Meta Data
          </h4>

          {% vid_metadata vid %}

          <br>

          {% if vid.description %}<p class="description">{{ vid.description }}</p>{% endif %}
          <br>

        </div>
      </div>
    </div>

  </section><!-- /#about -->

{% endblock %}

{% block javascript_footer %}
  {{ block.super }}
  <!-- JavaScript -->
  <script src="{% static 'clipboard/dist/clipboard.min.js' %}"></script>
  <script src="{% static 'js/clipboard-interface.js' %}"></script>

  <script src="{% static 'js/vid-helpers.js' %}"></script>
  <script src="{% static "owl.carousel/dist/owl.carousel.js" %}"></script>
  <script>
  $( document ).ready(function() {

    $('#thumbnail-carousel').owlCarousel({
      loop: false,
      nav: true,
      autoWidth: true,
      margin: 5,
    });

  });
  </script>
{% endblock %}