{% extends 'base.html' %}{% load crispy_forms_tags %}

{% block content %}
<section id="intro">
  <div class="video-content">

  <div class="col-sm-8 col-sm-offset-2">

  </div>

  </div>
</section>

<section id="results">

    <div id="result_list" class="grid">

      {% for item in object_list %}
      <div class="grid-item">
        <a href="{% url 'vid:detail' uuid=item.uuid %}" class="view-video" data-pk="{{ item.pk }}" >
          <img src="{{ item.object.thumb }}" class="slider-thumb" border="0" style="width:128px;" data-images='{{ item.object.thumbs }}' />
        </a>
        <br/>
        <div style=""><a href="{% url 'vid:detail' uuid=item.uuid %}">{{ item.name }}</a></div>
      </div>
      {% endfor %}

    </div>

    {% if query %}
        <h3>Results</h3>

        {% for result in page.object_list %}
            <p>
                <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
            </p>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}

</section>

{% endblock %}