<table class="text-dark col-md-6">
  <tr>
    <td>Mimetype</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.mime_type }}</td>
  </tr>
  <tr>
    <td>Dauer</td>
    <td style="min-width:15px;"></td>
    <td><span class="detailed-text">{{ vid.videometa.duration }}</span></td>
  </tr>
  <tr>
    <td>Dateigröße</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.file_size }}</td>
  </tr>
  <tr>
    <td>Durchschn. Bitrate</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.avg_bitdate|default:"---" }}</td>
  </tr>
  <tr>
    <td>Audio-Abtastrate</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.audio_sample_rate }}</td>
  </tr>
  <tr>
    <td>Audiobits pro Sample</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.audio_bits_per_sample }}</td>
  </tr>
  <tr>
    <td>Audioformat</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.audio_format }}</td>
  </tr>
  <tr>
    <td>O-Frame Rate</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.o_frame_rate }}</td>
  </tr>
  <tr>
    <td>Tdack Dauer</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.tdack_duration }}</td>
  </tr>
  <tr>
    <td>X-Auflösung</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.x_resolution }}</td>
  </tr>
  <tr>
    <td>Y-Auflösung</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.y_resolution }}</td>
  </tr>
  <tr>
    <td>Bildgröße</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.image_size }}</td>
  </tr>
  <tr>
    <td>Bildhöhe</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.image_height }}</td>
  </tr>
  <tr>
    <td>Bildbreite</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.image_witdh }}</td>
  </tr>
  <tr>
    <td>Dateityp</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.file_type }}</td>
  </tr>
  <tr>
    <td>Kompressor</td>
    <td style="min-width:15px;"></td>
    <td>{{ vid.videometa.compressor_id }}</td>
  </tr>
</table>
