{% extends 'admin/change_form.html' %}
{% load pipeline staticfiles vid_metadata %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "plyr/dist/plyr.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "owl.carousel/dist/assets/owl.carousel.min.css" %}" />
  <link rel="stylesheet" type="text/css" href="{% static "owl.carousel/dist/assets/owl.theme.default.min.css" %}" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" type="text/css" media="screen" rel="stylesheet" />
  <style>
  .meta-data {
    width:100%;
  }
  .select2-container {
    width:70%!important;
  }
  .owl-prev, .owl-next {
    font-size:1.8em;
    margin:10px;
  }
  .owl-prev {
    float:left;
    clear:both;
  }
  .owl-next {
    float:right;
  }
  </style>
{% endblock %}

{% block extrahead %}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript">
  var $ = django.jQuery;
  var jQuery = django.jQuery;
  </script>
  <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/prepopulate.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
{% endblock %}

{% block after_field_sets %}
  {% if original.get_video %}
  <hr/>
  <table>
    <tr>
      <td colspan="2">
        <h2>Scene thumbs</h2>
        <div id="thumbnail-carousel" class="owl-carousel owl-theme" style="width:640px;">
          {% for thumb, timestamp in original.videometa.timestamp_thumbs %}
            <div>
              <a href="javascript:;" class="jump-to-timestamp" data-poster="{{ thumb }}" data-timestamp="{{ timestamp }}">
                <img class="owl-lazy" data-src="{{ thumb }}" style="width:320px;" border="0" />
              </a>
            </div>
          {% endfor %}
        </div>
      </td>
    </tr>
  </table>
  <table id="extra-content">
    <tr>
      <td width="40%">
        <div class="meta-data">
          <h2>Meta data</h2>
          <hr/>
          <div style="margin:20px 5px"><b>Public URL:</b><br/><a href="{{ original.get_absolute_url }}" target="_NEW">{{ original.get_absolute_url }}</a></div>
          <hr/>
          <div style="margin:20px 5px"><b>Share URL:</b><br/><a href="{{ original.get_video.url }}" target="_NEW">{{ original.get_video.url }}</a></div>
          <hr/>
          {% vid_metadata original %}
        </div>
      </td>
      <td>
        <div class="plyr">
            <video poster="{{ original.videometa.thumb }}" controls>
                <!-- Video files -->
                <source src="{{ original.get_video.url }}" type="{{ original.videometa.mime_type }}">
                <!-- Text track file -->
                <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default> -->
                <!-- Fallback for browsers that don't support the <video> element -->
                <a href="{{ original.get_video.url }}">Download</a>
            </video>
        </div>
      </td>
    </tr>
  </table>

  <hr/>
  <p>&nbsp;</p>
  {% endif %}
  {{ block.super }}
{% endblock %}


{% block footer %}
  {{ block.super }}
  <script src="{% static "plyr/dist/plyr.js" %}"></script>
  <script src="{% static "owl.carousel/dist/owl.carousel.js" %}"></script>
  <script>
  (function($){
    window.player = plyr.setup('.plyr');

    $('#thumbnail-carousel').width( $('#extra-content').width() );
    $('#thumbnail-carousel').owlCarousel({
      loop: false,
      nav: true,
      lazyLoad: true,
      autoWidth: true,
      margin: 5,
    });

    $("a.jump-to-timestamp").on('click', function() {
        var self = $(this);
        var poster = self.data().poster;
        var timestamp = self.data().timestamp;
        console.log(timestamp);
        //player.play();
        //player.pause();
        window.player[0].poster = poster;
        window.player[0].seek(timestamp);
    });

    (function(d, p){
        var a = new XMLHttpRequest(),
            b = d.body;
        a.open('GET', p, true);
        a.send();
        a.onload = function() {
            var c = d.createElement('div');
            c.setAttribute('hidden', '');
            c.innerHTML = a.responseText;
            b.insertBefore(c, b.childNodes[0]);
        };

    })(document, '{% static "plyr/dist/sprite.svg" %}');

  })(jQuery);
  </script>
{% endblock %}