{% extends 'admin/change_form.html' %}
{% load pipeline staticfiles vid_metadata %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "plyr/dist/plyr.css" %}" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" type="text/css" media="screen" rel="stylesheet" />
  <style>
  .meta-data {
    width:100%;
  }
  dl { width:100%; }
  dt { width: 180px; clear:left } // clear to force it to the next line
  dd { width: 300px; }
  dt, dd { float:left; }
  .select2-container {
    width:60%!important;
  }
  </style>
{% endblock %}

{% block extrahead %}
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript">
  var $ = django.jQuery;
  var jQuery = django.jQuery;
  </script>
  <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/urlify.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/prepopulate.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/vendor/xregexp/xregexp.min.js' %}"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  <script type="text/javascript" src="{% static 'django_select2/django_select2.js' %}"></script>
{% endblock %}

{% block after_field_sets %}
  {% if original.get_video %}
  <hr/>
  <table style="width:100%;">
    <tr>
      <td style="width:25%;">
        <div class="meta-data">
          <h2>Meta data</h2>
          <hr/>
          <div style="margin:20px"><b>Share URL:</b><br/><a href="{{ original.get_video.url }}" target="_NEW">{{ original.get_video.url }}</a></div>
          <hr/>
          <div style="margin:20px 0px;"><b>UUID:</b><br/>{{ original.uuid }}</div>
          <hr/>
          {% vid_metadata original %}
        </div>
      </td>
      <td>
        <div class="plyr">
            <video poster="{{ original.videometa.thumb }}" controls>
                <!-- Video files -->
                <source src="{{ original.get_video.url }}" type="{{ original.videometa.mime_type }}">
                <!-- Text track file -->
                <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default> -->
                <!-- Fallback for browsers that don't support the <video> element -->
                <a href="{{ original.get_video.url }}">Download</a>
            </video>
        </div>
      </td>
    </tr>
  </table>

  <hr/>
  <p>&nbsp;</p>
  {% endif %}
  {{ block.super }}
{% endblock %}


{% block footer %}
  {{ block.super }}
  <script src="{% static "plyr/dist/plyr.js" %}"></script>
  <script>
  (function($){
    var player = plyr.setup('.plyr')[0];

    (function(d, p){
        var a = new XMLHttpRequest(),
            b = d.body;
        a.open('GET', p, true);
        a.send();
        a.onload = function() {
            var c = d.createElement('div');
            c.setAttribute('hidden', '');
            c.innerHTML = a.responseText;
            b.insertBefore(c, b.childNodes[0]);
        };

    })(document, '{% static "plyr/dist/sprite.svg" %}');

  })(jQuery);
  </script>
{% endblock %}